<div class="main-component">
  <h2>Flight Search</h2>
  <div class="my-button">
    <button mat-raised-button class="m-1" color="primary">Submit</button>
  </div>
  <div class="radio">
    <mat-radio-group>
      <mat-radio-button value="value1">Option1</mat-radio-button>
      <mat-radio-button value="value2">Option2</mat-radio-button>
      <mat-radio-button value="value1">Option1</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="secondary-component" [formGroup]="myGroup">
    <div class="tertiary" style="flex-grow:2;margin-right:1rem;">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput placeholder="Give input " />
      </mat-form-field>
    </div>
    <div class="tertiary" style="flex-grow:2;margin-right:1rem;">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput placeholder="Give input " />
      </mat-form-field>
    </div>
    <div class="tertiary">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput placeholder="Give input " />
      </mat-form-field>
    </div>
    <div class="tertiary">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput placeholder="Give input " />
      </mat-form-field>
    </div>
    <!-- <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Font size (px)"
         
        min="10"
      />
    </mat-form-field> -->
  </div>
  <div class="secondary-component" [formGroup]="myGroup">
    <div class="tertiary" style="flex-grow:2;margin-right:1rem;">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput placeholder="Give input " />
      </mat-form-field>
    </div>
    <div class="tertiary" style="flex-grow:2;margin-right:1rem;">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput placeholder="Give input " />
      </mat-form-field>
    </div>
    <div class="tertiary">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput placeholder="Give input " />
      </mat-form-field>
    </div>
    <div class="tertiary">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput placeholder="Give input " />
      </mat-form-field>
    </div>
    <!-- <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Font size (px)"
           
          min="10"
        />
      </mat-form-field> -->
  </div>
  <div class="secondary-component" [formGroup]="myGroup">
    <div class="tertiary" style="flex-grow:2;margin-right:1rem;">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput placeholder="Give input " />
      </mat-form-field>
    </div>
    <div class="tertiary" style="flex-grow:2;margin-right:1rem;">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput placeholder="Give input " />
      </mat-form-field>
    </div>
    <div class="tertiary">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="tertiary">
      <label>Departure Airport</label>
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Choose a date" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Font size (px)"
             
            min="10"
          />
        </mat-form-field> -->
  </div>
  <mat-checkbox>Check me!</mat-checkbox>
  <div class="my-button">
    <button mat-raised-button class="m-1" color="primary">Submit</button>
  </div>
</div>
